# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.BackgroundRabbit.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Pato\Documents\projects\csharp\BackgroundRabbit\.idea\.idea.BackgroundRabbit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
